<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>

<div class="resume-box">

	<div class="left-section">
		<div class="profile">
		<img src="image/profile.png" class="profile-img">
		<div class="blue-box"></div>
		</div>
		<h2 class="name">Manoj <br><span>Adhikari</span></h2>
		<p class="n-p">Graphic & Web Designer</p>


		<div class="info">
			<p class="heading">Info</p>
			<p class="p1"><span class="span1"><img src="image/location.png"></span>Address<span> <br>c-2334 Street Name</span></p>
			<p class="p1"><span class="span1"><img src="image/call.png"></span>Phone<span> <br>+0123-444-5555</span></p>
			<p class="p1"><span class="span1"><img src="image/mail.png"></span>Email<span> <br>info@dummy.com</span></p>
			<p class="p1"><span class="span1"><img src="image/domain.png"></span>Website<span> <br>www.dummy.com</span></p>
		</div>

		<div class="info">
			<p class="heading">Social</p>
			<p class="p1"><span class="span1"><img src="image/skype.png"></span>Skype<span> <br>msofttechskype.com</span></p>
			<p class="p1"><span class="span1"><img src="image/twitter.png"></span>Twitter<span> <br>demotwitter.com</span></p>
			<p class="p1"><span class="span1"><img src="image/linkedin.png"></span>Linkdin<span> <br>linkdindemo.com</span></p>
			<p class="p1"><span class="span1"><img src="image/facebook.png"></span>Facebook<span> <br>facebookdummy.com</span></p>
		</div>

	</div>

	<div class="right-section">
		<div class="right-heading">
			<img src="image/user.png">
			<p class="p2">Profile</p>
		</div>
		<p class="p3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

		<div class="clearfix"></div>
		<br><br>
		<div class="right-heading">
			<img src="image/pencil.png">
			<p class="p2">Work Experience</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<p class="p4">2012 - 2014</p>
			<p class="p5">New Delhi</p>
		</div>

		<div class="right">
			<p class="p4">Web Designer</p>
			<p class="p5">Retoching Company</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2014 - 2017</p>
			<p class="p5">New Delhi</p>
		</div>

		<div class="right">
			<p class="p4">Graphic Web Assitant</p>
			<p class="p5">Setup Box Manufactring</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2017 - 2021</p>
			<p class="p5">Noida</p>
		</div>

		<div class="right">
			<p class="p4">Web Designer</p>
			<p class="p5">Retoching Company</p>
			<p class="p5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		<div class="clearfix"></div>
		</div>


		<br>
		<div class="right-heading">
			<img src="image/edu.png">
			<p class="p2">Education</p>
		</div>
		<div class="clearfix"></div>
		<div class="lr-box">
		<div class="left">
			<p class="p4">2012 - 2014</p>
			<p class="p5">New Delhi</p>
		</div>

		<div class="right">
			<p class="p4">BCA - IGNOU</p>
			<p class="p5">Retoching Company</p>
			<p class="p5">Lorem Ipsum is simply dummy text of </p>
		</div>
		<div class="clearfix"></div>
		</div>

		<div class="lr-box">
		<div class="left">
			<p class="p4">2014 - 2016</p>
			<p class="p5">New Delhi</p>
		</div>

		<div class="right">
			<p class="p4">BCA - IGNOU</p>
			<p class="p5">Retoching Company</p>
			<p class="p5">Lorem Ipsum is simply dummy </p>
		</div>
		<div class="clearfix"></div>
		</div>

		<br>
		<div class="right-heading">
			<img src="image/edu.png">
			<p class="p2">Skill and expertize</p>
		</div>
		<div class="clearfix"></div>
		<div class="s-box">
			<p class="p6">Grapic Design</p>
			<div id="progress"></div>
			<p class="p6">Web Design</p>
			<div id="progress1"></div>

		</div>
		<div class="s-box">
			<p class="p6">HTML</p>
			<div id="progress2"></div>
			<p class="p6">CSS</p>
			<div id="progress3"></div>
		</div>


		<div class="clearfix"></div>
		<br><br>
		<div class="right-heading">
			<img src="image/hobbies.png">
			<p class="p2">Hobby & Internet</p>
		</div>
		<div class="clearfix"></div>
		<img src="image/bicycle.png" class="h-img">
		<img src="image/games.png" class="h-img">
		<img src="image/book.png" class="h-img">
		<img src="image/design.png" class="h-img">
		<img src="image/chess.png" class="h-img">

	</div>

		<div class="clearfix"></div>



</div>



</body>
</html>
